src
lib
archive
scripts
testlib
README.md
test.js
.gitattributes
utils
mem
ffi
.cargo
template.js
qr.png
tests
        
target/rls                    
target/wasm32-unknown-unknown
target/release     
target/debug           
.rustc_info.json

Cargo.toml
Cargo.lock
rustfmt.toml
rust-toolchain.toml

.vscode
CACHEDIR.TAG
dev
.rustfmt.toml
jpeg.js
package-lock.json
test.jpeg
test.jpg
test.mjs